[[global]]

[[mblem]]
keep_case=true
set=http://ilk.uvt.nl/folia/sets/frog-mblem-nl
timblOpts=-a1 -w2 +vS
treeFile=froggen.tree

[[tagger]]
set=http://ilk.uvt.nl/folia/sets/frog-mbpos-cgn
settings=froggen.settings
subsets_file=subsets
constraints_file=constraints
