[[global]]

[[mblem]]
keep_case=true
set=https://raw.githubusercontent.com/GreekPerspective/glem/master/setdefinitions/glem-lemma
timblOpts=-a1 -w2 +vS
treeFile=froggen.tree

[[tagger]]
set=https://raw.githubusercontent.com/GreekPerspective/glem/master/setdefinitions/glem-pos
settings=froggen.settings
subsets_file=subsets
constraints_file=constraints

[[tokenizer]]
rulesFile=tokconfig-generic
