[[mblem]]
keep_case=true
set=https://raw.githubusercontent.com/GreekPerspective/glem/master/setdefinitions/glem-lemma
timblOpts=-a1 -w2 +vS
treeFile=froggen.tree

[[tagger]]
constraints_file=ignore
set=https://raw.githubusercontent.com/GreekPerspective/glem/master/setdefinitions/glem-pos
settings=hdt_Books_forFrog.10plaatsig.zu.col.settings
subsets_file=ignore
token_trans_file=ignore

[[tokenizer]]
rulesFile=tokconfig-generic
